*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  scroll-behavior:smooth;
  background:#fafafa;
}

/* NAVIGATION */
nav{
  width:100%;
  position:fixed;
  top:0;
  left:0;
  padding:18px 0;
  background:transparent;
  display:flex;
  justify-content:center;
  transition:0.3s;
  z-index:1000;
}

nav.scrolled{
  background:#222;
  box-shadow:0 3px 10px rgba(0,0,0,0.3);
}

nav ul{
  display:flex;
  gap:35px;
  list-style:none;
}

nav ul li a{
  color:white;
  text-decoration:none;
  font-size:1.1rem;
  transition:0.3s;
}

nav ul li a:hover,
nav ul li a.active{
  color:#ffcb52;
  transform:scale(1.12);
}

/* SECTIONS */
.section{
  min-height:100vh;
  padding:120px 100px;
  color:#fff;
}

/* HERO */
.hero{
  background:#111;
  display:flex;
  align-items:center;
}

.hero-content h1{
  font-size:3rem;
  margin-bottom:10px;
}

.highlight{ color:#ffcb52; }

.hero button{
  margin-top:15px;
  padding:10px 20px;
  border:none;
  background:#ffcb52;
  color:#111;
  font-weight:600;
  border-radius:10px;
  cursor:pointer;
}

/* ABOUT SECTION */
#about{ background:#333; }

/* SKILLS */
#skills{ background:#444; }

.skill-box{
  margin-bottom:15px;
}

.bar{
  width:100%;
  height:10px;
  background:#222;
  border-radius:5px;
}

.bar div{
  height:100%;
  background:#ffcb52;
  border-radius:5px;
}

/* PROJECTS */
#projects{ background:#555; }

.project-card{
  background:white;
  color:black;
  padding:15px;
  margin:15px 0;
  border-radius:10px;
}

/* CONTACT */
#contact{ background:#666; }

.socials a{
  margin-right:15px;
  color:#ffcb52;
  font-weight:600;
  cursor:pointer;
}
